  <div class='index-header'>
    <h1>Your favourite movies</h1>
  </div>
  <div class='index-main'>
    <h2>Your lists</h2>
    <p><%= link_to "Create a new movie list", list_path(:new)%>
  </div>
  <div class='list-card-box'>
    <div class='list-cards' id='lists-anchor'>
      <% @lists.each do |list| %>
      <div class='list-card'>
        <p><%= link_to list.name, list_path(list) %></p>
      </div>
      <% end %>#
    </div>
  </div>
