// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;

  * {
    margin: 0 10px;
  }

  i {
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
}

.navbar {
  background-color: rgb(0, 255, 51);
  transition: 0.5s background-color ease;
}

.navbar-scroll {
  background-color: rgb(233, 0, 0) !important;
}
